<template>
  <Page borderRadius="5">
    <StackLayout class="h-full" orientation="vertical" backgroundColor="#ffefd5">
      <StackLayout orientation="horizontal" class="h-full" horizontalAlignment="center">
        <StackLayout verticalAlignment="center" padding="5">
          <Label text="Микс возвращен на склад"
                 class="h1 text-center"
                 :textWrap="true"
          >
          </Label>
        </StackLayout>
      </StackLayout>
    </StackLayout>
  </Page>
</template>

<script>
  export default {
    data() {
      return {}
    },

    mounted() {
      setTimeout(
        this.$modal.close,
        2000
      )
    },
  }
</script>

<style scoped>

</style>