<template>
  <StackLayout backgroundColor="white" class="p-10">
    <Label class="h3 text-center m-t-5" text="Выбор языка" />
    <StackLayout class="hr-light"></StackLayout>
    <ListView for="item in list" @itemTap="onItemTap">
      <v-template>
        <GridLayout class="list-group-item p-10" rows="auto, *" columns="80, *" @tap="$modal.close(item.value)">
          <Image :src="item.img" width="40" class="img-circle"></Image>
          <Label row="0" col="1" :text="item.text" class="list-group-item-heading" />
        </GridLayout>
        <!-- <Label :text="item.text" /> -->
      </v-template>
    </ListView>
    <Button class="btn btn-outline" text="Отменить" @tap="$modal.close()" />
  </StackLayout>
</template>

<script>
export default {
  props: {
    list: {
      type: Array
    }
  },
  data() {
    return {};
  }
};
</script>

<style>
.img_item {
  height: 80px;
  border-radius: 40px;
}
</style>
