<template>
  <CardView v-if="!!mrBoo" height="300" @tap="showSettings" backgroundColor="white">
    <StackLayout padding="10">
      <Label class="text-left text-xl font-weight-bold">mr. Boo</Label>
      <Image :src="mrBoo"></Image>
    </StackLayout>
  </CardView>
</template>

<script>
  import {graphQlUrlize} from "../../config/utils";
  import MrBooSettings from "../../components/views/MrBooSettings";

  export default {
    data() {
      return {
        mrBoo: null,
        timer_id: null
      }
    },

    methods: {
      showSettings() {
        this.$navigateTo(MrBooSettings, {
          clearHistory: false
        })
      },

      async updateMrBoo() {
        const query = `
query {
  tamagocxi {
    bildo
  }
}`;

        const resp = await this.$http.get(graphQlUrlize({query: query}));

        if (resp.data.data.tamagocxi.bildo) {
          this.mrBoo = resp.data.data.tamagocxi.bildo
        }

        this.timer_id = setTimeout(
            () => {
              this.updateMrBoo()
            },
            60000
        ) // Обновляем статус каздые 60 секунд
      },
    },

    mounted() {
      this.updateMrBoo()
    },

    beforeDestroy() {
      if (this.timer_id) {
        clearTimeout(this.timer_id)
      }
    }
  }
</script>

<style scoped>

</style>
