<template>
  <PageTemplate @back="$navigateBack()" android:is_main="false" section_title="Настройки приложения" active_icon="bars">
    <StackLayout class="h-full" backgroundColor="#E8E8E8">
      <StackLayout class="bg-white mt-3">
        <Ripple @tap="settings.enable_sounds = !settings.enable_sounds">
          <FlexboxLayout flexDirection="row" justifyContent="space-around">
            <Label text="Звуковые уведомления" class="text-gray-700 text-lg py-2"></Label>
            <Switch v-model="settings.enable_sounds"></Switch>
          </FlexboxLayout>
        </Ripple>
      </StackLayout>
    </StackLayout>
  </PageTemplate>
</template>

<script>
  const appSettings = require("application-settings");

  export default {
    data() {
      return {
        settings: {
          enable_sounds: appSettings.getBoolean('settings.enable_sounds', true)
        }
      };
    },

    watch: {
      'settings': {
        handler: function (cur, old) {
          this.saveSettings()
        },
        deep: true,
      }
    },

    methods: {
      saveSettings() {
        appSettings.setBoolean('settings.enable_sounds', this.settings.enable_sounds)
      }
    },

    computed: {},

    mounted() {

    }
  };
</script>